.large_block{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:1.5rem 1rem;
    padding-top: .8rem;
  
}

.large_block_line{
    margin: 0;
    text-align: left;
}
.copy_button_large_block{
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--code_blocks);
    color: var(--white_font_color);
    border: none;
    border-radius: 5px;
    padding: 4px 7px;
    width: 100px;
    right: 1rem;
    bottom: 1rem;
    position: absolute;
}

.copy_button_large_block:active{
    background-color: var(--white_font_color);
    color: var(--code_blocks) !important;
}